<div class="header">
  <ul class="nav nav-pills pull-right">
    <li>
        <script type="text/ng-template" id="mySigninContent.html">
          <form class="form-signin">
            <h2 class="form-signin-heading">Sign in</h2>
            <input type="text" class="input-block-level" placeholder="Email address">
            <input type="password" class="input-block-level" placeholder="Password">
            <label class="checkbox"><input type="checkbox" value="remember-me"> Remember me </label>
            <button class="btn btn-large btn-primary" type="submit">Sign in</button>
          </form>
        </script>
        <button class="btn btn-default" ng-click="open()">Sign in</button>
     </li>
  </ul>
  <h3 class="text-muted">stacker_webapp</h3>
</div>


<div>
  <div ng-repeat="user in users">
    name : {{user.FullName}}
  </div>
</div>

<div>
  <div ng-repeat="task in tasks">
    title : {{task.Title}}
  </div>
</div>



<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
